@page
@model ErrorModel
@{
    ViewData["Title"] = "Chyba";
}

<h2>Chyba</h2>
<p>
    Vyskytla se neočekávaná chyba. Dej prosím vědět LeOvi (<pre>@@i_am_leo</pre>) na discordu nebo na
    <a href="mailto:xondry02@stud.fit.vut.cz">xondry02@stud.fit.vut.cz</a>.
</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID požadavku:</strong> <code>@Model.RequestId</code>
    </p>
}